#container {
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    border-right: 1px solid #85858555;
    justify-content: space-between;
    padding: 0 10px;
}

#wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}
